/* GENERAL STYLES
================================================== */
* {
  box-sizing: border-box; 
} 

body {
  text-align: center;
  margin: 0;  
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: #fff;
  font-family: "Special Elite", "Courier New", monospace;
  text-decoration:none;
}

#intro,
#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide7,
#slide8,
#slide9 {
  width: 100%;
  height: 100vh;
  padding: 45px 0;
  overflow: hidden;
}


/* INDIVIDUAL SLIDES
================================================== */
#intro {
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, .5); 
  /*position: relative;*/
  min-width: 100%;
  height: auto;
  width: auto;
  z-index: 1;
  /*background-size: cover;*/
}

video {
  display: block;
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/8th_AF_Bombing_Marienburg.JPEG') no-repeat;
  background-size: cover;
}

.video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  overflow: hidden;
}



#slide1 {
  background-position: center center;
}

#slide1 #content {
  position: relative;
  z-index: 100;
}

.video-background-1 {
  position: absolute;
  right: 0;
  top: 150;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  margin-top: -190px;
  overflow: hidden;
}

#slide2 {
  background-image: url('http://whitneyliriano1.github.io/images/swastika-ussr-bg.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-color: #eb6666;
  position: relative;
}

#slide3 {
  background-color: rgba(68, 140, 203, 0.95);
}

#slide4 {
  background-image: url('http://whitneyliriano1.github.io/images/clouds_bg.jpg');	
  background-size: cover;
  position: relative;
}

#slide5 {
	background-color: rgba(108, 219, 155, .5); 
  z-index: 10;
}

#slide5 #content5 {
  position: relative;
  z-index: 100;
}

.video-background-5 {
  position: absolute;
  right: 0;
  top: 150;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  margin-top: -135px;
  overflow: hidden;
}

#slide7 {
  background:
  linear-gradient( 
    rgba(244, 138, 34, .9), 
    rgba(223, 124, 28, 0.4)),
  url('http://whitneyliriano1.github.io/images/dday-2.png') no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#slide8 {
  background-color: #a186be;
  background-image: url('http://whitneyliriano1.github.io/images/ve-day-newspaper-crowd.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/*#slide8 > div {
  align-self: flex-end;
  justify-content: center;
  margin: 25px auto;
}*/

#slide9 {
  background-color: #f69d46;
}

#footer {
  height: 85px !important;
  padding: 10px;
  background:
    linear-gradient(135deg, #181818 22px, #000 22px, #000000 24px, transparent 24px, transparent 67px, #000 67px, #000 69px, transparent 69px),
    linear-gradient(225deg, #181818 22px, #000 22px, #000000 24px, transparent 24px, transparent 67px, #000 67px, #000 69px, transparent 69px)0 64px;
  background-color:#181818;
  background-size: 64px 128px;
}

.disclaimer {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #ccc;
}



/* NAVIGATION
================================================== */
#side-nav {
  position: fixed;
  right: 1.75%;
  top: 25%;
  z-index:99999;
}

.side-nav-list {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.side-nav-list li {
  position: relative;
  display: block;
  margin: 14px 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.side-nav-list li a {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-indent: -999em;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side-nav-fill li a {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  transition: background 0.3s;
}

.side-nav-fill li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 1px #fff;
  transition: 0.3s;

}

.side-nav-fill li a:hover,
.side-nav-fill li a:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.side-nav-fill li.current a::after {
  height: 100%;
}

/* SCROLL DOWN ARROW
================================================== */
.scroll-arrow a {
  position: absolute;
  bottom: 110px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s;
}

.scroll-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll-arrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



/* TYPOGRAPHY
================================================== */
h3 {
  font-family: "Special Elite", "Courier New", monospace;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-shadow: 1px 1px #555;
  color: #fff;
}

p {
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.25rem;
  letter-spacing: .10rem;
  line-height: 1.75rem;
  font-weight: 300;
  max-width: 675px;
  width: 100%;
  margin: auto;
  text-shadow: 1px 1px #333;
}

.intro-text {
  text-shadow: none;
  z-index: 999999;
}

.logo {
  position: relative;
  max-width: 500px;
  width: 90%;
  z-index: 999999;
}

.italic {
  font-style: italic;
}


/* SLIDE IMAGES
================================================== */
#slide2-images {
	width: 100%;
	max-width:960px;
}

#hit, #stal {
  display: inline-block;
  margin-top: 30px;
}

.hitler {
	max-width: 495px;
	width: 100%;
}

.stalin {
	max-width: 415px;
	width: 100%;
}

.slide4-image {
  width: 100%;
  background-size: cover;
	position: absolute;
	bottom: 0;
  max-height: 65%;
}

.slide4-image img {
  width: 100%;
}



/* SLICK SLIDER
================================================== */
.slick-3,
.slick-9 {
  width: 75%;
  margin: 20px auto;
}

.slick-3 .slick-slide,
.slick-9 .slick-slide {
  background-color: transparent;
  height: 450px;
}

.slick-3 .one {
  background-image: url('http://whitneyliriano1.github.io/images/slide5/fra86100.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-3 .two {
  background-image: url('http://whitneyliriano1.github.io/images/slide5/churchill.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-3 .three {
  background-image: url('http://whitneyliriano1.github.io/images/slide5/battle_of_britain.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-3 .four {
  background-image: url('http://whitneyliriano1.github.io/images/slide5/battle_of_britain_01.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-3 .five {
  background-image: url('http://whitneyliriano1.github.io/images/slide5/battle_of_britain_02.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-9 .one-9 {
  background-image: url('http://whitneyliriano1.github.io/images/slide9/iwo_jima.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-9 .two-9 {
  background-image: url('http://whitneyliriano1.github.io/images/slide9/hiroshima_nagasaki_abomb.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-9 .three-9 {
  background-image: url('http://whitneyliriano1.github.io/images/slide9/hiroshima_aftermath.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}





@media only screen and (max-width : 768px ){
	p { padding: 0 45px; font-size: 100%;}
  h3 {padding: 0 45px;}
	.hitler, .stalin { width:40%; display:inline;}
	.slide4-image {width: 100%; height: auto;}
  .slick-3 .slick-slide, .slick9 .slick-slide {height: 375px; width: 85%;}
  header {width: 92%;}
}

@media (max-width: 480px) {
    #intro {
        background: url('http://whitneyliriano1.github.io/images/intro_bg_img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide1 {
        background: url('http://whitneyliriano1.github.io/images/nazi-hitler_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide5 {
        background: url('http://whitneyliriano1.github.io/images/pearl_harbor_attack_bg.jpg');
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
    }

    #video { display: none; }
}